* {
  margin: 0;
}
:root {
  --theme-back: linear-gradient(to bottom, #ff416c, #ff4b2b);
  --theme-color: #ff416c;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('./over-back1.svg');
  background-size: cover;
  transition: 1.6s 1s ease-in-out;
}
#toggle-tabs {
  outline: none;
  border: none;
  background: black;
  font-size: 25px;
  color: white;
  border-radius: 20px;
  padding: 0.3em 0.8em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#toggle-tabs:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#toggle-tabs:after {
  opacity: 1;
}
.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  height: 70vh;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  background: white;
  /* transition: 0.5s 1s ease-in-out; */
}
.form-inp {
  outline: none;
  border: none;
  background: transparent;
  font-size: 20px;
  border-bottom: 2px solid #eee;
  padding: 3px;
  width:100%;
  transition: 0.3s ease-in-out;
  position: relative;
}
.form {
  width: 42vw;
  background: white;
  /* animation: 1s anima1; */
  transition: 1s ease-in-out;
  transform: translateX(0%);
}
.form2 {
  width: 42vw;
  background: white;
  /* animation: 1s anima; */
  transition: 1s ease-in-out;
  transform: translateX(18vw);
}
.basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidepanel {
  z-index: 99;
  background-image: url("./sidepan2.svg");
  background-size: cover;
  width: 18vw;
  position: relative;
  transition: 1s ease-in-out;
  transform: translate(0%);
}
.sidepanel2 {
  z-index: 99;
  background-image: url("./sidepan.svg");
  background-size: cover;
  position: relative;
  width: 18vw;
  transition: 1s ease-in-out;
  transform: translate(-42vw);
}
.form-submit {
  margin: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.3em 1em;
  background: var(--theme-back);
  font-size: 20px;
  color: white;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 16px 0 var(--theme-color);
}
.bottom-border {
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: 0;
  background: var(--theme-back);
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.form-inp:focus + .bottom-border {
  width: calc(100% + 6px);
}
.form-submit:hover {
  opacity: 0.6;
  box-shadow: 0 4px 16px 0 var(--theme-color);
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.8s 0.3s ease-in-out;
  text-indent: -100%;
  opacity: 1;
}
#forget-pass {
  text-decoration: none;
  font-size: 15px;
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
}
#forget-pass:hover {
  transform: scale(1.2);
}
.hover-text {
  background: black;
  margin-top: 0.2em;
  color: white;
  font-size: 15px;
  z-index: 1;
  transition: opacity 0.3s, visibility 0s;
  visibility: hidden;
  opacity: 0;
  padding: 0.2em 0.2em;
  border-radius: 2px;
}
#forget-pass:hover + .hover-text {
  visibility: visible;
  opacity: 1;
}
.move-away {
  transform: translateX(-100vw);
}
.move-away2 {
  transform: translateX(100vw);
}
.move-away3 {
  /* transform: scale(100) rotate(360deg) translatey(100vh); */
  background: #64c8ee;
  animation: 4s fade-zoom;
  animation-delay: 0.5s;
}
@keyframes fade-zoom {
  0% {
    background: #64c8ee;
    transform: scale(1.2) rotate(180deg);
  }
  50% {
    transform: scale(2) rotate(360deg);
  }
  75% {
    transform: translateX(-100vw) scale(2) rotate(360deg);
    display: none;
  }
  100% {
  }
}
.error {
  padding: 0.2em;
  background: #ffbaba;
  /* border:1px solid red; */
  color: white;
  box-shadow: 0 4px 8px 0 #ff000058;
}
.err {
  border: 2px solid red;
  width: 270px;
  box-shadow: 0 4px 8px 0 #ff000058;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
#tog-pass {
  position: absolute;
  right: 5%;
  cursor: pointer;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 600px) {
  .container {
    display: none;
  }
}
